extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Bruno Marchi

      
        p.lead.text-light
          | Full Stack JavaScript Developer.

      
        .portfolio-bio
          p
            | I am an automation engineering student and a Full Stack JavaScript developer with prior experience working with data-analytics at a research lab. 
            | My goal is to be part of a software developing team and work for ambitious projects.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

      
        ul
          li JavaScript
          li HTML
          li CSS
          li Express
          li Pug 
          li jQuery
          li Node.js
          li Git
          li GitHub
          li React
        h6 Contact Info

      
        ul
          li +55 (48) 9162-4279
          li marchi.r.bruno@gmail.com

      
        a.button.expanded(href='https://github.com/brunomarchir') GitHub
        a.button.expanded(href='https://twitter.com/brunormarchi') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
